/* Write your CSS code here */
.blog-item-container {
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 95%;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
}
.link-style {
  text-decoration: none;
}

.image {
  width: 400px;
  height: 190px;
  border-radius: 5px;
}
.avatar {
  width: 60px;
  border-radius: 50px;
}
.author-avatar-container {
  display: flex;
  /* margin-left: 10px; */
}
.topic-title-container {
  margin-left: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topic {
  color: #8e8e8e;
  font-size: 20px;
}
.title {
  font-size: 20px;
}
.author {
  color: #8e8e8e;
  margin-left: 10px;
}

@media screen and (max-width: 567px) {
  .blog-item-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .topic {
    font-size: 15px;
  }
  .image {
    width: 70vw;
  }
  .title {
    font-size: 13px;
  }
  .topic-title-container {
    width: 100%;
    margin-left: 10px;
    padding: 20px;
  }
}
